<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.daliang.backend.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="online.daliang.backend.model.Menu">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="component" property="component" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR" />
        <result column="parentId" property="parentId" jdbcType="INTEGER" />
        <result column="enabled" property="enabled" jdbcType="BIT" />
        <association property="meta" javaType="online.daliang.backend.model.Meta">
            <result column="keepAlive" property="keepAlive" jdbcType="BIT" />
            <result column="requireAuth" property="requireAuth" jdbcType="BIT" />
        </association>
    </resultMap>
    <resultMap id="Menus2" type="online.daliang.backend.model.Menu" extends="BaseResultMap">
        <collection property="children" ofType="online.daliang.backend.model.Menu">
            <id column="id2" property="id" jdbcType="INTEGER" />
            <result column="url2" property="url" jdbcType="VARCHAR" />
            <result column="path2" property="path" jdbcType="VARCHAR" />
            <result column="component2" property="component" jdbcType="VARCHAR" />
            <result column="name2" property="name" jdbcType="VARCHAR" />
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR" />
            <result column="parentId2" property="parentId" jdbcType="INTEGER" />
            <result column="enabled2" property="enabled" jdbcType="BIT" />
            <association property="meta" javaType="online.daliang.backend.model.Meta">
                <result column="keepAlive2" property="keepAlive" jdbcType="BIT" />
                <result column="requireAuth2" property="requireAuth" jdbcType="BIT" />
            </association>
        </collection>
    </resultMap>
    <select id="getMenusByUserId" resultMap="Menus2">
        select
            m1.*,
            m2.id as id2,
            m2.url as url2,
            m2.path as path2,
            m2.component as component2,
            m2.name as name2,
            m2.iconCls as iconCls2,
            m2.keepAlive as keepAlive2,
            m2.requireAuth as requireAuth2,
            m2.parentId as parentId2,
            m2.enabled as enabled2
        from menu m1
        left outer join menu m2 on m1.id = m2.parentId
        left outer join menu_role mr on m1.id = mr.mid
        left outer join  user_role ur on mr.rid = ur.rid
        where ur.id = #{userId}
        order by ur.id
    </select>
</mapper>